.container-fluid {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.jumbo {
  width: 100%;
}

h1 {
  padding-inline: 30px;
}

.card-group {
  width: 100%;
  padding-inline: 30px;
  margin-bottom: 25px;
  gap: 25px;
}

.bestbtn {
  background-color: black;
  color: white;
  border-radius: 25px;
}

.offerta {
  width: 100%;
  padding-inline: 30px;
  display: flex;
  flex-direction: row;
  border: 0px;
}

section img {
  width: 1200px;
  height: 400px;
  border-radius: 5px;
}

.ciao {
  display: flex;
  justify-content: left;
  gap: 25px;
}

.img-thumbnail {
  width: 150px;
  height: 90px;
}

.imggrp {
  display: flex;
  justify-content: space-around;
}
